

    <!-- start additional products -->


      

  <h1>{{ settings.keithTest }}</h1>

    <div class="products">

        {% for product in collections.frontpage.products %}
          {% include 'product-loop'  %}
        {% endfor %}

    </div>

    



